{% load static %}

<style>
    .null_style__button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        /* Remove outline se quiser */
        outline: none;
    }
</style>
<header class="cabecalho" t>
    <a href="{% url 'home' %}">
        <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" />
    </a>
    <div class="cabecalho__busca">
        <div class="busca__fundo">
            <form action="{% url 'home' %}" method=" get" style="align-items: center; padding: 8px; display: flex;">
                <input class="busca__input text_search" type="text" name="search" placeholder="O que você procura?"
                    value="{{ request.GET.search }}">
                <button type="submit" class="null_style__button">
                    <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                </button>
            </form>
        </div>
    </div>

    <div style="display: flex; gap: 1em; align-items: center;">
        {% if not request.user.is_authenticated %}
            {% if request.path != '/signup/' %}
                <a href="{% url 'signup' %}" style="text-decoration: none;">
                    <input type="button" class="btn_header" value="Cadastrar">
                </a>
            {% endif %}
            {% if request.path != '/login/' %}
                <a href="{% url 'login' %}"  style="text-decoration: none;">
                    <input type="button" class="btn_header" value="Entrar">
                </a>
            {% endif %}
        {% else %}
            <p class="username">Olá, {{request.user.first_name}}</p>
            <a href="{% url 'logout' %}"  style="text-decoration: none;">
                    <input type="button" class="btn_header" value="Sair">
                </a>
        {% endif %}
    </div>
</header>